################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/NumericExtensions/obj
/Test/NumericExtensions.UnitTests/bin/Debug/net6.0
